<div class="box">
	<div class="box-header with-border" style="width:100%;display:flex;justify-content: space-between;">
		<a href="javascript:;" class="btn btn-success btn-xs" (click)="create()"><i class="fa  fa-plus"></i>创建</a>
		<div class="box-tools">
			<div class="input-group input-group-sm" style="width: 150px;">

			  	<input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="股票名称">

				<div class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<table class="table table-bordered">
			<tr>
				<th style="width: 10px">#</th>
				<th>股票名称</th>
				<th>股票价格</th>
				<th>股票评级</th>
				<th>操作</th>
			</tr>
			<tr *ngFor="let stock of stocks | stockFilter: 'name': keyWord; let i = index">
				<td>{{ i +1 }}</td> <!--序号-->
				<td>{{stock.name}}</td> <!--股票名称-->
				<td>{{stock.price}}</td> <!--股票价格-->
				<td><app-starts [rating]="stock.rating"></app-starts></td> <!--股票星级-->
				<td>
					<a href="javascript:;" class="btn btn-warning btn-sm" (click)="update(stock)"><i class="fa fa-eyedropper"></i>修改</a>
					<a href="#" class="btn btn-danger btn-sm"><i class="fa fa-remove "></i>删除</a>
				</td>
			</tr>
		</table>
	</div>
	<!-- /.box-body -->
	<div class="box-footer clearfix">
		<ul class="pagination pagination-sm no-margin pull-right">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
<!-- /.box -->